@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  /* Defines 1rem. 10px */
  font-size: 62.5%; }

body {
  color: #222;
  background-color: white;
  font-family: "Open Sans", sans-serif; }

.navbar-default {
  background-color: white;
  border: none; }

.navbar-title-1 {
  font-size: 3.2rem;
  margin: 2rem 0 0 15px;
  color: #222; }
  @media (max-width: 575px) {
    .navbar-title-1 {
      font-size: 2.4rem; } }

.navbar-title-2 {
  font-size: 2rem;
  margin-left: 15px;
  color: #222; }
  @media (max-width: 575px) {
    .navbar-title-2 {
      font-size: 1.8rem; } }

.navbar-list {
  float: left;
  overflow: hidden; }

.navbar-brand {
  height: auto; }

.navbar-toggle {
  margin-top: 4rem;
  margin-right: 30px; }

.navbar-collapse {
  border: none; }

.fa {
  width: 6rem;
  height: 6rem;
  padding-top: 1.9rem !important;
  margin: 4rem 30px 4rem 2rem;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: transform .2s ease !important;
  transition: transform .2s ease !important;
  color: white !important; }
  .fa-linkedin {
    background-color: #007bb5 !important; }
  .fa-github {
    background-color: #6e5494 !important; }
  .fa-free-code-camp {
    background-color: #006400 !important; }
  .fa-codepen {
    background-color: #1e1e1e !important; }
  .fa:link, .fa:visited {
    text-decoration: none; }
  .fa:hover {
    transform: scale(1.2) !important;
    text-decoration: none; }
  .fa:active {
    text-decoration: none; }

.card {
  display: none;
  position: relative;
  height: 30rem;
  width: 100%;
  margin: 0 auto 3rem auto;
  color: white;
  font-size: 1.6rem;
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__row {
    width: 100%; }
  .card__heading {
    padding-top: 2rem;
    text-transform: uppercase; }
    .card__heading-back {
      text-transform: uppercase; }
  .card__description {
    text-align: left; }
  .card__list {
    text-align: left;
    list-style-type: none; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__side {
    position: absolute;
    height: 30rem;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
    transition: all 2s ease; }
    .card__side--front {
      background-color: white;
      color: #222;
      font-weight: bold;
      text-align: center; }
    .card__side--back {
      background-color: white;
      color: #222;
      text-align: center;
      text-transform: none;
      padding-bottom: 3rem;
      transform: rotateY(180deg); }
  .card__picture {
    position: relative;
    height: 23rem;
    background-size: cover;
    background-position: center; }
    .card__picture-0 {
      background-image: url("../img/FreshFoods.png"); }
    .card__picture-1 {
      background-image: url("../img/calculator2.jpg"); }
    .card__picture-2 {
      background-image: url("../img/Weather.jpg"); }
    .card__picture-3 {
      background-image: url("../img/SimonGame.png"); }
    .card__picture-4 {
      background-image: url("../img/WikipediaViewer.png"); }
    .card__picture-5 {
      background-image: url("../img/TicTacToe.jpg"); }
    .card__picture-6 {
      background-image: url("../img/RandomQuote2.jpg"); }
    .card__picture-7 {
      background-image: url("../img/PomodoroClock.jpg"); }
    .card__picture-8 {
      background-image: url("../img/Twitch.jpg"); }
    .card__picture-9 {
      background-image: url("../img/TributePage.jpg"); }
    .card__picture-back {
      height: 50%;
      background-size: cover;
      background-position: center; }
  @media only screen and (max-width: 991px), only screen and (hover: none) {
    .card__side--back {
      transform: rotateY(0); }
    .card:hover .card__side--front {
      transform: rotateY(0deg); } }

.thumbnail {
  border: 1px solid #222222; }

.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 0 1rem; }
  @media only screen and (max-width: 404px), only screen and (hover: none) {
    .icon {
      width: 2rem;
      height: 2rem; } }

.section-portfolio {
  margin-top: 20rem; }
