@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ecf0f1;
  color: black;
}

/* ABOUT */
.top {
  height: 800px;
}

.headerName {
  display: none;
  font-size: 55px;
  margin-top: 300px;
}

.aboutParagraph {
  display: none;
  font-size: 16px;
  text-align: center;
}

#arrow {
  display: none;
  position: absolute;
  left: 48%;
  top: 700px;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 32px;
  -webkit-animation: move 3s infinite;
  -webkit-animation-direction: alternate-reverse;
  animation: move 3s infinite;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes move {
  50%  {top: 650px;}
  100%  {bottom: 700px;}
}

@keyframes move {
  50%  {top: 650px;}
  100%  {bottom: 700px;}
}

/* PORTFOLIO */
.portfolioBackground {
  padding: 100px 0px;
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.contain {
  position: relative;
  width: 100%;
  border: none;
}
