.fa
  width: 6rem
  height: 6rem
  padding-top: 1.9rem !important
  margin: 4rem 30px 4rem 2rem
  font-size: 2.4rem
  text-align: center
  border-radius: 50%
  text-decoration: none
  -webkit-transition: transform .2s ease !important
  transition: transform .2s ease !important
  color: white !important

  &-linkedin
    background-color: #007bb5 !important

  &-github
    background-color: #6e5494 !important

  &-free-code-camp
    background-color: #006400 !important

  &-codepen
    background-color: rgb(30, 30, 30) !important

  &:link,
  &:visited
    text-decoration: none

  &:hover
    transform: scale(1.2) !important
    text-decoration: none

  &:active
    text-decoration: none
