.card
  position: relative
  height: 30rem
  width: 100%
  margin: 0 auto 3rem auto
  color: white
  font-size: $font-size-default
  perspective: 150rem
  -moz-perspective: 150rem

  &__side
    position: absolute
    height: 30rem
    width: 100%
    top: 0
    left: 0
