.ul-1,
.ul-2
  color: $color-black
  font-size: 2rem
  list-style-type: none
  text-align: center

.ul-1
  float: left

  &--1
    -webkit-animation: moveToRight .5s
    animation: moveToRight .5s
    -webkit-animation-delay: 1s
    animation-delay: 1s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
    opacity: 0

  &--2
    -webkit-animation: moveToRight .5s
    animation: moveToRight .5s
    -webkit-animation-delay: 2s
    animation-delay: 2s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
    opacity: 0

  &--3
    -webkit-animation: moveToRight .5s
    animation: moveToRight .5s
    -webkit-animation-delay: 3s
    animation-delay: 3s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
    opacity: 0

.ul-2

  &--1
    -webkit-animation: moveToLeft .5s
    animation: moveToLeft .5s
    -webkit-animation-delay: 1.5s
    animation-delay: 1.5s
    -webkit-animation-fill-mode: forwards
    animation-fill-mode: forwards
    opacity: 0
