@-webkit-keyframes moveToRight
  0%
    opacity: 0
    transform: translateX(-100px)

  100%
    opacity: 1
    transform: translate(0)

@keyframes moveToRight
  0%
    opacity: 0
    transform: translateX(-100px)

  100%
    opacity: 1
    transform: translate(0)

@-webkit-keyframes moveToLeft
  0%
    opacity: 0
    transform: translateX(100px)

  100%
    opacity: 1
    transform: translate(0)

@keyframes moveToLeft
  0%
    opacity: 0
    transform: translateX(100px)

  100%
    opacity: 1
    transform: translate(0)


@-webkit-keyframes moveToBottom
  0%
    opacity: 0
    transform: translateY(-100px)

  100%
    opacity: 1
    transform: translate(0)

@keyframes moveToBottom
  0%
    opacity: 0
    transform: translateY(-100px)

  100%
    opacity: 1
    transform: translate(0)


@-webkit-keyframes fade

  0%
    opacity: 0

  100%
    opacity: 1

@keyframes fade

  0%
    opacity: 0

  100%
    opacity: 1


@keyframes moveArrow
  0%
    opacity: 0
    top: 500px

  100%
    opacity: 1
    bottom: 700px

@-webkit-keyframes moveArrow
  0%
    opacity: 0
    top: 500px

  100%
    opacity: 1
    bottom: 700px
