.navbar
  &-default
    background-color: $color-white
    border: none

  &-title
    &-1
      font-size: 3.2rem
      margin: 4rem 0 0 15px
      color: $color-black

      @media (min-width: 768px)
        margin: 2rem 0 0 15px

    &-2
      font-size: 2.4rem
      margin-left: 15px
      color: $color-black

      @media (min-width: 768px)
        margin-left: 15px

  &-list
    float: left
    overflow: hidden

  &-brand
    height: auto

  &-toggle
    margin-top: 8rem

  &-collapse
    border: none
