.heading-primary
  color: $color-black
  text-align: center
  -webkit-animation: moveToBottom 1s
  animation: moveToBottom 1s

  &--main
  font-size: 3.2rem
  margin-bottom: 1rem

  &--sub
  font-size: 2.2rem

.heading-secondary
  color: $color-black
  font-size: 3.2rem
  font-weight: bold
