.section-about
  height: 85rem
  padding-top: 20rem
  background-size: cover
  background-position: top
  backface-visibility: hidden

  &-box
    width: 30rem
    margin: 0 auto

.section-contact
  clear: both
  text-align: center
  height: 42.5rem
  padding-top: 10rem
  background-size: cover
  background-position: top
