.section-about
  height: 80rem
  padding-top: 20rem
  background-color: $color-white
  background-size: cover
  background-position: top
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
  backface-visibility: hidden

  &-box
    width: 30rem
    margin: 0 auto


.section-portfolio
  margin-top: 20rem

.section-contact
  clear: both
  text-align: center
  height: 80rem
  padding-top: 32.5rem
  background-color: $color-white
  background-size: cover
  background-position: top
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%)
  clip-path: polygon(0 25vh, 100% 0, 100% 100%, 0 100%)
